COMMON_USER=nanato12
COMMON_PASSWORD=password
COMMON_DATABASE=nanato12_wp2

MYSQL_USER=${COMMON_USER}
MYSQL_PASSWORD=${COMMON_PASSWORD}
MYSQL_ROOT_PASSWORD=${COMMON_PASSWORD}
MYSQL_DATABASE=${COMMON_DATABASE}
TZ=Asia/Tokyo

WORDPRESS_DB_HOST=mysql:3306
WORDPRESS_DB_NAME=${COMMON_DATABASE}
WORDPRESS_DB_USER=${COMMON_USER}
WORDPRESS_DB_PASSWORD=${COMMON_PASSWORD}
